# Delete all optional variables

# 1. Anki Settings

# email for AnkiWeb
email=

# password for AnkiWeb
password=

# deck name for the deck to be retrieved
deck_name=

# query to get the words
# grammarly identical to Anki Browse feature
# ex. default is:
#   "deck:deck_name" introduced:1
query=

# field name for the words
field=

# Anki-connect host
anki_connect_host=

# Anki-connect port
anki_connect_port=



# 2. GPT Settings
api_key=   # necessary
article_lang=
trans_lang=
model=

